body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

a.custom-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

a.custom-link:hover {
    color: #404bbf;
}

a.custom-link:focus {
    color: #404bbf;
}

address.custom-class {
    font-style: normal;
}

section.custom-section {
    background-color: #2e2f42;
}

section.custom-section h2.custom-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

section.custom-section button.custom-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

section.custom-section button.custom-button:hover {
    background-color: #404BBF;
}

section.custom-section button.custom-button:active {
    background-color: #404BBF;
}

